    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Ready for Change</h2>
                <p> 'I am ready for change' is geared to counsel and support clients through their challenges. I will always meet the client where they are on their journey and provide support as appropriate, but a typical counselling trajectory will look like the following: I work to understand how the client feels and help them identify what they need. The goal is to help people bring an awareness of their thoughts and feelings and how they influence their lives and wellbeing. Once empowered with this knowledge, I help guide the client to challenge and change negative thoughts and beliefs and to introduce hope, curiosity and creativity. The next step is to decide what changes need to happen and together, we create a realistic and manageable plan to move beyond your current circumstances. Follow up and support is always available to ensure the client still feels they are on the right track and feel more in control of their lives. </p>
            </div>
        </div>
    </section>