    <!-- Mid Section -->
    <section id="mid" class="content-section text-center">
      <div class="mid-section">
          <div class="container">
              <div class="col-lg-8 col-lg-offset-2">
                  <h2>Knowledge and Experience</h2>
                  <p>I have 20 years experience in the field and have worked with a wide range of clientele groups and service outlets. I have a D.E.C  in special care counselling and a masters in social work. I am a member of my professional order (OTSTCFQ).
                    My experience includes but is not limited to domestic violence, depression and anxiety, parenting and couples counselling. I have worked with the elderly, refugees, children with physical and behavioural challenges as well as youth at risk.
                    I am passionate about wellness and self care and believe it should be a daily practice. In my work, I employ a solutions focused goal oriented approach. In addition, I use cognitive behavioural therapy and emotion focused therapy techniques in my counselling. I also use motivational interviewing to help clients find the best path for themselves. I am attentive to providing a safe and confidential space for change and am always welcoming of people of all backgrounds, genders and orientations. </p>
                  <!-- <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Some Page</a> -->
              </div>
          </div>
      </div>
  </section>