    <!-- Mid Section -->
    <section id="mid" class="content-section text-center">
      <div class="mid-section">
          <div class="container">
              <div class="col-lg-8 col-lg-offset-2">
                  <h2>Mid Section</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sagittis nisl rhoncus mattis rhoncus urna. Et netus et malesuada fames ac. Morbi blandit cursus risus at ultrices mi tempus. Hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Nunc mattis enim ut tellus. Varius vel pharetra vel turpis nunc. Venenatis a condimentum vitae sapien pellentesque habitant morbi tristique. Erat velit scelerisque in dictum non consectetur. Arcu felis bibendum ut tristique. Non nisi est sit amet facilisis magna etiam tempor. Velit scelerisque in dictum non consectetur a erat. Amet justo donec enim diam vulputate.</p>
                  <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
              </div>
          </div>
      </div>
  </section>