    <!-- Mid Section -->
    <section id="tech" class="content-section text-center">
      <div class="tech-section">
          <div class="container">
              <div class="col-lg-8 col-lg-offset-2">
                  <h2>Techniques</h2>
                  <p> In my work, I employ a solutions focused goal oriented approach. In addition, I use cognitive behavioural therapy and emotion focused therapy techniques in my counselling. I also use motivational interviewing to help clients find the best path for themselves. I am attentive to providing a safe and confidential space for change and am always welcoming of people of all backgrounds, genders and orientations. </p>
                  <!-- <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Some Page</a> -->
              </div>
          </div>
      </div>
  </section>