  <!-- testimonials Section -->
  <section id="testimonials" class="content-section text-center">
    <div class="testimonials-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>Testimonials</h2>
              <p> Sabrina Saddick has been described as calming, helpful and accommodating. She has been credited with helping clients feel more like themselves and getting back on track. </p>
              <!-- <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Some Page</a> -->
          </div>
        </div>
    </div>
</section>